<nav class="bg-slate-800 text-white shadow-md">
  <div class="max-w-6xl mx-auto px-4 py-3 flex justify-between items-center">
    <div class="text-xl font-semibold tracking-wide">GitHub Search</div>
    <div class="space-x-6">
      <a routerLink="/repositories" routerLinkActive="text-blue-400 border-b-2 border-blue-400"
        class="hover:text-blue-300 transition">Repositórios</a>
      <a routerLink="/issues" routerLinkActive="text-blue-400 border-b-2 border-blue-400"
        class="hover:text-blue-300 transition">Issues</a>
    </div>
  </div>
</nav>

<main class="max-w-6xl mx-auto px-4 py-6">
  <router-outlet></router-outlet>
</main>